services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - "${MYSQL_PORT_EXTERNAL}:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile
    container_name: identity_service_app
    env_file:
      - .env
    ports:
      - "${API_PORT_EXTERNAL}:8000"
    volumes:
      - ../../:/app
    depends_on:
      - db

volumes:
  db_data:
